<%- include("./partials/header") %>

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1>Oops!</h1>
            <h2>404 Not Found</h2>
            <div class="mb-3">
                Sorry, an error has occured, Requested Page not found!
            </div>
            <div>
                <a href="/beers" class="btn btn-default customBtn">Go Home</a>
            </div>
        </div>
    </div>
</div>

<%- include("./partials/footer") %>