<%- include("partials/header") %>

<h1>HOME</h1>

<a href="/beers/new">Add new beer</a>

<% beers.forEach(function(beer) { %>
    <div>
        <h3><%= beer.name %></h3>
        <img src='<%= beer.image %>'> 
    </div>
<% }); %>

<%- include("partials/footer") %>