<%- include("./partials/header") %>

<div id="landing-background">
    <div id="landing-header">
        <h1>HoldMyBeer</h1>
        <a href="/beers" class="btn btn-lg customBtn">View Our Beer Diary</a>
    </div>
</div>

<%- include("./partials/footer") %>